<div class="container mt-4">
    <h2 class="text-center">Applicant Submission</h2>
    <form #applicantForm="ngForm" (submit)="onSubmit(newApplicant)">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" name="name" [(ngModel)]="newApplicant.name" class="form-control" id="name" #name placeholder="Enter applicant name">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" [(ngModel)]="newApplicant.email" class="form-control" id="email" #email placeholder="Enter applicant email">
        </div>
        <div class="mb-3">
          <label for="position" class="form-label">Phone Number</label>
          <input type="text" name="position" class="form-control" [(ngModel)]="newApplicant.phoneNumber" id="phoneNumber" #phoneNumber placeholder="Enter phone number">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>      
    <hr>
    <h3 class="mt-4">Submitted Applicants</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>ID</th>
          <th>Email</th>
          <th>Name</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let applicant of applicants; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{applicant.id}}</td>
          <td>{{applicant.email}}</td>
          <td>{{applicant.name}}</td>
          <td>{{applicant.phoneNumber}}</td>
        </tr>
      </tbody>
    </table>
  </div>